.cell {
    display: flex;
    border-style: solid;
    border-color: black;
    background: rgb(0 0 0 / 0%);
    flex-grow: 1;
    border-width: 1px;
    /* height: 100px;
    width: 100px; */
}
.row {
    display: flex;
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 800px;
    height: 800px;
}